#root{
--background:#E8F1F2;
--font:#31493C;
--button:#001A23;
--hover:#7A9E7E;
--seperator:#B3EFB2;
background:var(--background);
color:var(--font);
min-height:100vh;
}
*{
padding:0;
margin:0;
box-sizing:border-box;
}
.flexbox{
display:flex;
justify-content:center;
align-items:center;
}
.flexbox-column{
  display:flex;
  flex-direction:column;
justify-content:space-around;
align-items:center;
}
.flexbox-sa{
display:flex;
justify-content:space-around;
align-items:center;
}
h1,h3{
  font-size:2rem;
  text-align: center;
  width:100%;
  margin:2rem 0;
}
button{
background:var(--button);
color:var(--background);
transition:0.2s;
padding:0.5rem 0.2rem;
}
button:hover{
color:var(--button);
background:var(--hover);
}

.navbar{
height:10vh;
background:var(--seperator);
}
.navbar span{
  width:70%;
}
.hero{
min-height:90vh;
background:var(--seperator);
flex-wrap:wrap;
}
.hero>div{
width:40%;
min-width:300px;
}
.hero>form{
width:30%;
box-shadow:0 0 20px 0px black;
gap:10px;
background:var(--background);
border-radius:20px;
padding:2rem;
}
.hero input{
  width:90%;
}
.hero label{
  width:90%;
}
.hero>form>h1{
  text-align: center;
height:60%;
}
.camp_card{
 width:350px;
 flex-shrink:0;
 flex-grow:0;
 border-radius:20px;
  padding:1rem;
  background:var(--seperator);
  border:1px solid var(--button);
  gap:10px;
}
.camp_card>div{
  gap:10px;
}
.camp_card>div>p{
  background:var(--font);
  color:var(--background);
  padding:0.5rem;
  border-radius:10px;
}
.camp_card>img{
  width:70%
}
.camp_card h2,.camp_card p,.camp_card span{
  width:100%;
}
.camp_card button{
  width:100%;
}
.card-container{
  flex-wrap:wrap;
  gap:20px;
}

@media (max-width: 768px) {
.hero>form{
  width:90%;
  margin:30px 0;
}
}